.footer-icons {
  padding: 5px ;
  font-size: 30px
}

#icon-div {
  vertical-align: bottom;
  font-size: 30px
}

#success {
  font-size: 1em;
  color: green
}

#error {
  font-size: 1em;
  color: red
}

.blogs-items {
  font-size: 1.3em;
}

#blog-segment {
  padding: 3em 0em;
}

#blog-header {
  padding: 1.7em;
}

#aboutMe-Segment {
  padding: 4em 0em;
}

#aboutMe-Header {
  font-size: 3em;
}

#aboutMe-p {
  font-size: 1.2em;
}

#aboutMe-divider {
  margin: 3em 0em;
  text-transform: uppercase;
}

#blogs-header-font {
  font-size: 3.5em;
}

#footer-segment {
  padding: 5em 0em;
}

.contact-me {
  margin-Bottom: 1.0em
}

#myForm-header {
  margin-top: 1.0em
}
