.footer-icons {
  padding: 5px ;
  font-size: 30px
}

#icon-div {
  vertical-align: bottom;
  font-size: 30px
}

#success {
  font-size: 1em;
  color: green
}

#error {
  font-size: 1em;
  color: red
}
